:root {
  --header-height: 3rem;
  --padding-botton: 1rem;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
ul {
  list-style: none;
}

.container {
  display: flex;
  flex-direction: column;
}

.content-menu {
  background-color: rgb(228, 228, 228);
  padding: 1rem 1.4rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
}

.menu,
.close-menu {
  display: inline-block;
  width: 100%;
  text-align: end;
  padding-bottom: 1rem;
}

i {
  font-size: 2rem;
}

.hideNavbar {
  display: none;
}

.showNavbar {
  display: inline-block;
}

.becode h1 {
  color: rgb(5, 64, 101);
  padding-bottom: var(--padding-botton);
}
.becode p {
  padding-bottom: 1rem;
  padding-right: 3rem;
}

.navbar a {
  min-height: var(--header-height);
  color: black;
  text-decoration: none;
  font-size: 1.3rem;
}

.navbar a:hover {
  color: rgb(6, 70, 112);
  text-decoration: underline;
  text-underline-offset: 0.4rem;
}

.navbar li {
  padding-bottom: var(--padding-botton);
}

iframe {
  border: none;
  width: 100vw;
}

.close-menu {
  background-image: url(assets/icon-close.svg);
  background-repeat: no-repeat;
  background-position-x: left;
}

@media (width > 1024px) {
  .container {
    flex-direction: row;
  }

  .content-menu {
    width: 17rem;
    height: 100vh;
    /*  background-color: rgb(228, 228, 228); */
    padding: 1rem;
  }

  .projects {
    flex-direction: row;
  }
}
