* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: rgb(38, 37, 37);
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 2rem;
}
.myMain {
  position: relative;
  padding: 5px;
  width: fit-content;
  background-color: #fff;
  display: flex;
  align-content: center;
  flex-direction: column;
  gap: 2px;
}

.content {
  /* width: 300px; */
  height: 20px;
  display: flex;
  gap: 2px;
}

.childrenContent {
  width: 20px;
  height: 20px;
  display: flex;
}

.walls {
  background-color: rgb(54, 54, 54);
}

.paths {
  background-color: rgb(172, 223, 167);
}

.player {
  position: absolute;
  background-color: rgb(255, 0, 0);
}

.treasure {
  background-color: rgb(255, 255, 0);
}
