* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: rgb(38, 37, 37);
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 2rem;
}
.myMain {
  position: relative;
  padding: 5px;
  width: fit-content;
  background-color: #fff;
  display: flex;
  align-content: center;
  flex-direction: column;
  gap: 2px;
}

.content {
  /* width: 300px; */
  height: 20px;
  display: flex;
  gap: 2px;
}

.childrenContent {
  width: 20px;
  height: 20px;
  display: flex;
}

.walls {
  background-color: rgb(54, 54, 54);
}

.paths {
  background-color: rgb(172, 223, 167);
}

.player {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  position: absolute;
  background-color: rgb(255, 0, 0);
}

.treasure {
  background-color: rgb(255, 255, 0);
}

.shake {
  animation: shake 0.82s cubic-bezier(0.36, 0.07, 0.19, 0.97) both;
  transform: translate3d(0, 0, 0);
  backface-visibility: hidden;
  perspective: 1000px;
}

@keyframes shake {
  10%,
  90% {
    transform: translate3d(-1px, 0, 0);
  }

  20%,
  80% {
    transform: translate3d(2px, 0, 0);
  }

  30%,
  50%,
  70% {
    transform: translate3d(-4px, 0, 0);
  }

  40%,
  60% {
    transform: translate3d(4px, 0, 0);
  }
}
